<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string></string>
        </dict>
    </array>
    <key>NSHealthShareUsageDescription</key>
    <string>This app requires access to your heart rate data for monitoring purposes.</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>This app will save workout data to keep track of your exercise routines.</string>
    <key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
    <string>This app requires access to your clinical health records to provide a comprehensive health overview.</string>
</dict>
</plist>

